{
    "printWidth": 100,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "plugins": [
        "prettier-plugin-astro"
    ],
    "overrides": [
        {
            "files": "*.mdx",
            "options": {
                "proseWrap": "preserve",
                "embeddedLanguageFormatting": "auto"
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "preserve"
            }
        },
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}